* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 0 8px gray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .header_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.header .header_container .header_box_left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_container .header_box_left .header_box_left--logo {
  padding: 5px;
  cursor: pointer;
}
.header .header_container .header_box_left .header_box_left--logo img {
  width: 40px;
}
.header .header_container .header_box_left .header_box_left--search {
  width: 90%;
  padding: 10px 5px;
}
.header .header_container .header_box_left .header_box_left--search .header_searh_box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_container .header_box_left .header_box_left--search .header_searh_box i {
  position: absolute;
  z-index: 2;
  left: 3px;
  font-size: 25px;
  color: gray;
}
.header .header_container .header_box_left .header_box_left--search .header_searh_box input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: #f0f2f5;
  color: gray;
  font-size: 15px;
  outline: none;
  padding-left: 30px;
  border-radius: 30px;
  border: none;
}
.header .header_container .header_box_center {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_container .header_box_center i {
  position: absolute;
  top: 18%;
  right: 32%;
  font-size: 30px;
  color: gray;
}
.header .header_container .header_box_center .hover {
  width: 100px;
  height: 50px;
  position: relative;
  transition: 0.5s;
}
.header .header_container .header_box_center .hover .header__icon--name {
  display: none;
}
.header .header_container .header_box_center :hover {
  background-color: #f0f2f5;
  border-radius: 20px;
  transition: 0.3s;
}
.header .header_container .header_box_center :hover a {
  text-decoration: none;
}
.header .header_container .header_box_center :hover a .header__icon--name {
  position: absolute;
  bottom: -35px;
  right: 20px;
  border-radius: 10px;
  display: block;
}
.header .header_container .header_box_center :hover a .header__icon--name p {
  font-size: 18px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.708);
  border-radius: 10px;
}
.header .header_container .header_box_center .active a i {
  color: rgb(48, 48, 228);
}
.header .header_container .header_box_right {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_container .header_box_right i {
  position: absolute;
  top: 18%;
  right: 0;
  font-size: 25px;
  color: black;
  background-color: #f0f2f5;
  border-radius: 50%;
  padding: 8px 10px;
}
.header .header_container .header_box_right .hover {
  width: 50px;
  height: 50px;
  position: relative;
  transition: 0.5s;
}
.header .header_container .header_box_right .hover a img {
  width: 36px;
  position: absolute;
  top: 18%;
  right: 0;
  border-radius: 50%;
}
.header .header_container .header_box_right .hover a .header__icon--name {
  display: none;
}
.header .header_container .header_box_right .hover a .counter {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: -10%;
  right: 0;
}
.header .header_container .header_box_right .hover a .counter p {
  color: white;
  padding: 5px 9px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 900;
}
.header .header_container .header_box_right :hover {
  transition: 0.3s;
}
.header .header_container .header_box_right :hover i {
  background-color: #dbddde;
}
.header .header_container .header_box_right :hover a {
  text-decoration: none;
}
.header .header_container .header_box_right :hover a .header__icon--name {
  position: absolute;
  bottom: -35px;
  right: 0px;
  border-radius: 10px;
  display: block;
}
.header .header_container .header_box_right :hover a .header__icon--name p {
  font-size: 18px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.708);
  border-radius: 10px;
}

.body__content {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
}
.body__content .sidebar__scroll__left {
  width: 30%;
  height: 100%;
  visibility: hidden;
}
.body__content .sidebar__scroll__left ::-webkit-scrollbar {
  width: 8px;
}
.body__content .sidebar__scroll__left ::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left {
  width: 100%;
  max-width: 360px;
  height: 100%;
  background-color: #f0f2f5;
  position: relative;
  overflow: auto;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left:hover {
  visibility: visible;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options {
  visibility: visible;
  background-color: #f0f2f5;
  width: 100%;
  padding: 15px 0 15px 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options .allsidebar {
  max-width: 345px;
  height: 50px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options .allsidebar .icon {
  width: 15%;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options .allsidebar .icon img {
  width: 36px;
  border-radius: 50%;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options .allsidebar i {
  font-size: 30px;
  padding: 5px;
  background-color: #f0f2f5;
  border-radius: 50%;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options .allsidebar .name {
  font-size: 15px;
  font-weight: 500;
  font: bold;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__options :hover {
  background-color: rgb(213, 209, 209);
  border-radius: 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts {
  visibility: visible;
  background-color: #f0f2f5;
  width: 100%;
  padding: 15px 0 15px 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts:hover .edit {
  display: block;
  padding-right: 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .allgames {
  max-width: 345px;
  height: 50px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .allgames .icon {
  width: 15%;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .allgames .icon img {
  width: 36px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .allgames .name {
  font-size: 15px;
  font-weight: 500;
  font: bold;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .allgames:hover {
  background-color: rgb(213, 209, 209);
  border-radius: 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .sidebar__shortcuts__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts .sidebar__shortcuts__title a {
  display: none;
  text-decoration: none;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__left__shortcuts :hover {
  background-color: none;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__privacy__security__term__conditions {
  visibility: visible;
  background-color: #f0f2f5;
  padding: 15px 0 100px 10px;
}
.body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__privacy__security__term__conditions a, .body__content .sidebar__scroll__left .body__content__sidebar__left .sidebar__privacy__security__term__conditions span {
  color: rgb(140, 138, 138);
  text-decoration: none;
}
.body__content .sidebar__scroll__right {
  width: 100%;
  max-width: 360px;
  height: 100%;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right {
  width: 100%;
  max-width: 360px;
  height: 100%;
  background-color: #f0f2f5;
  position: relative;
  right: 0;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__title {
  height: 10%;
  padding: 20px 10px 10px 25px;
  font-size: 20px;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content {
  height: 80%;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a .sponsor__image {
  width: 130px;
  height: 130px;
  border-radius: 10px;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a .sponsor__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a .sponsor__name {
  width: 60%;
  padding: 10px;
  color: rgb(140, 138, 138);
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a .sponsor__name .name {
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor a .sponsor__dots {
  display: none;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor:hover {
  background-color: #e2e2e4;
  border-radius: 10px;
  position: relative;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor:hover .sponsor__dots {
  display: block;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 20px;
}
.body__content .sidebar__scroll__right .body__content__sidebar__right .sidebar__right__sponsor .sponsor__content .allsponsor:hover .sponsor__dots i {
  font-size: 20px;
  padding: 10px;
}/*# sourceMappingURL=home_style.css.map */